# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example


# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual Environment
# =========================

arcvenv/
venv/
.venv/
env/


# =========================
# Generated / Runtime Data
# =========================

uploads/
processed/
vector_db/


# =========================
# Logs
# =========================

*.log


# =========================
# IDE / Editor
# =========================

.vscode/
.idea/


# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db